{% if build_data.builds %}
All builds:
    {% for build in build_data.builds|sort(attribute='architecture') %}
    {{ build.architecture }}: {{ build.valid|yesno('PASSED,FAILED') }}
        {% if build.compiler %}
        Compiler: {{ build.compiler }}
        {% endif %}
        {% if build.command %}
        Command: {{ build.command }}
        {% endif %}
        {% if build.config_name %}
        Config: {{ build.config_name }}
        {% endif %}
        {% if build.config_url %}
        Config url: {{ build.config_url }}
        {% endif %}
        {% if build.build_log %}
        Build log: {{ build.log_url }}
        {% endif %}
        {% if build.issues %}
        Known issues:
            {% for issue in build.issues %}
            {{ issue.description }}
            {{ issue.ticket_url }}

            {% endfor %}
        {% endif %}

    {% endfor %}
{% endif %}
