{% if test_data.non_skipped_tests %}
All tests:
    {% for arch, tests in test_data.non_skipped_tests|groupby("architecture") %}
    {{ arch }}:
        {% for test in tests %}
        {{ test.waived|yesno("🚧,  ") }}{{ test.status|status_to_emoji }} {{ test.comment }}
            {% if test.issues %}
            Known issues:
                {% for issue in test.issues %}
                {{ issue.description }} - {{ issue.ticket_url }}
                {% endfor %}
            {% endif %}
        {% endfor %}

    {% endfor %}
{% endif %}
{% if test_data.errored_tests %}
Aborted tests
-------------
Tests that didn't complete running successfully are marked with ⚡⚡⚡.
If this was caused by an infrastructure issue, we try to mark that
explicitly in the report.

{% endif %}
{% if test_data.waived_tests %}
Waived tests
------------
Waived tests are marked with 🚧. Such tests are executed but their results
are not taken into account. Tests are waived when their results are not
reliable enough, e.g. when they're just introduced or are being fixed.
{% endif %}
