One or more kernel builds failed:
{% if build_data.unknown_issues_builds %}
    Unrecognized or new issues:
    {% for build in build_data.unknown_issues_builds|sort(attribute='architecture') %}
        {{ '%8s'|format(build.architecture) }} - {{ dw_url }}/kcidb/builds/{{ build.misc.iid }}
    {% endfor %}
{% endif %}
{% if build_data.known_issues_builds %}
    We also see the following known issues which are not related to your changes:
    {% for build in build_data.unknown_issues_builds|sort(attribute='architecture') %}
        {{ '%8s'|format(build.architecture) }} - {{ dw_url }}/kcidb/builds/{{ build.misc.iid }}
        {% for issue in test.issues %}
                   Issue: {{ issue.description }}
                          {{ issue.ticket_url }}
        {% endfor %}
    {% endfor %}
{% endif %}
