Checkout: {{ checkout_data.checkout.id }}

{% if checkout_data.nvr %}
    {# Checking for none as nvr was only added recently #}
Kernel NVR: {{ checkout_data.nvr }}
{% endif %}
{% if checkout_data.checkout.git_repository_url %}
Kernel repo: {{ checkout_data.checkout.git_repository_url }}
{% endif %}
{% if checkout_data.checkout.git_repository_branch %}
Branch: {{ checkout_data.checkout.git_repository_branch }}
{% endif %}
{% if checkout_data.checkout.git_commit_hash %}
Commit: {{ checkout_data.checkout.git_commit_hash }}
{% endif %}
