{% if checkout_data.checkout.log_url %}
Merge log:
    {{ checkout_data.mergelog|indent(4) }}
{% endif %}
{% if checkout_data.issues %}
Known merge issues:
{% for issue in checkout_data.issues %}
    {{ issue.description }}
    {% if issue.ticket_url %}
    Ticket URL: {{ issue.ticket_url }}
    {% endif %}

{% endfor %}
{% endif %}
