One or more kernel tests failed:
{% if test_data.unknown_issues_tests %}
    Unrecognized or new issues:
    {% for test in test_data.unknown_issues_tests|sort(attribute="architecture") %}
        {{ '%8s'|format(test.architecture) }} - {{ test.comment }}
                   Logs: {{ dw_url }}/kcidb/tests/{{ test.misc.iid }}
    {% endfor %}

{% endif %}
{% if test_data.known_issues_tests %}
    We also see the following known issues which are not related to your changes:
    {% for test in test_data.known_issues_tests|sort(attribute="architecture") %}
        {{ '%8s'|format(test.architecture) }} - {{ test.comment }}
        {% for issue in test.issues %}
                   Issue: {{ issue.description }}
                          {{ issue.ticket_url }}
        {% endfor %}
    {% endfor%}
{% endif %}
